.hmBg6 {
	background: #e62129;
	color: #FFFFFF;
	padding: 0.4rem 0;
}

.hm6Rig {
	float: right;
	width: 58%;
	text-align: right;
}

/*.hm6Rig .hmTitCn{ letter-spacing:0;}*/
.hm6RigCon {
	font-size: 16px;
	line-height: 200%;
	margin: 0.2rem 0;
}

.hm6More {
	display: block;
	color: #FFFFFF;
	margin-bottom: 0.4rem;
}

.hm6More:hover,
.hm6More:focus {
	color: #FFFFFF;
}

.hm6More span::after {
	height: 0.4rem;
}

.hm6Lef {
	overflow: hidden;
	font-size: 0;
	margin: 0;
	float: left;
	width: 42%;
}

.hm6Lef li {
	float: left;
	vertical-align: bottom;
	width: 50%;
	margin: 0.3rem 0;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
}

.countUp {
	font-size: 20px;
}

.countUp span {
	font-size: 60px;
	line-height: 100%;
}