@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'arial', 'Microsoft Yahei', 'Hiragino Sans GB', 'Helvetica Neue', 'Helvetica', 'tahoma', 'Verdana', 'sans-serif', "WenQuanYi Micro Hei", "\5B8B\4F53";
}

html,
body {
  width: 100%;
  background: #ffffff;
  min-width: 1200px;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

textarea {
  border: none;
  outline: none;
  background: none;
  resize: none;
  overflow: hidden;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

img {
  border: none;
  display: block;
}

.main {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1520px) {
  .main {
    width: 1200px;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

@font-face {
  font-family: 'iconfont';
  /* project id 240211 */
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*头部导航*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: 6px 0 8px 2px rgba(3, 3, 3, 0.15);
  z-index: 90;
}

.header .logo {
  margin-top: 22px;
  height: 36px;
}

.header .logo img {
  width: 100%;
}

.header .fr {
  height: 100%;
}

.header .topNav {
  float: left;
  height: 100%;
}

.header .topNav li {
  position: relative;
  float: left;
  padding: 0 30px;
  height: 100%;
}

.header .topNav li>a {
  font-size: 14px;
  color: #333333;
  line-height: 80px;
  transition: all 0.16s;
}

.header .topNav li>span {
  padding-left: 8px;
  font-size: 10px;
  color: #999999;
  line-height: 80px;
  display: none;
  transition: all 0.16s;
}

.header .topNav li:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 1px;
  height: 12px;
  background: #cccccc;
}

.header .topNav li:first-child:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 1px;
  height: 12px;
  background: #cccccc;
}

.header .topNav li.active>a,
.header .topNav li.active>span,
.header .topNav li:hover>a,
.header .topNav li:hover>span {
  color: #ff4229;
}

.header .topNav li.down>span {
  display: inline-block;
}

.header .sonnav {
  position: absolute;
  padding: 12px 0;
  left: 0;
  top: 60px;
  min-width: 100%;
  background: #ffffff;
  box-shadow: 0 0 8px 2px rgba(3, 3, 3, 0.15);
  display: none;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.header .sonnav a {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #666666;
  line-height: 1.5;
  text-align: left;
  transition: all 0.2s;
  white-space: nowrap;
}

.header .sonnav a:hover {
  background: #f5f5f5;
  color: #ff4229;
}

.header .headerTel {
  float: left;
  padding-left: 28px;
  font-size: 14px;
  color: #333333;
  line-height: 80px;
}

.header .headerTel span {
  font-size: 16px;
  color: #ff4229;
  font-weight: bold;
}

.header form {
  position: relative;
  float: left;
  margin-left: 10px;
  width: 40px;
  height: 100%;
}

.header form button {
  margin-left: 14px;
  width: 26px;
  height: 100%;
  cursor: pointer;
}

.header form button span {
  font-size: 16px;
  color: #999999;
  text-align: center;
  line-height: 80px;
  transition: all 0.16s;
}

.header form input {
  position: absolute;
  top: 108px;
  right: -20px;
  padding: 0 20px;
  width: 194px;
  height: 44px;
  background: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  color: #333333;
  line-height: 44px;
  z-index: 2;
  box-shadow: 0 0 8px 2px rgba(3, 3, 3, 0.15);
  display: none;
  transition: all 0.3s;
}

.header form input.on {
  top: 60px;
}

.header form input+span {
  position: absolute;
  top: 28px;
  right: 0px;
  width: 194px;
  height: 44px;
  font-size: 14px;
  color: #999999;
  line-height: 44px;
  display: none;
  z-index: 2;
}

.header form:hover button span {
  color: #ff4229;
}

.header .weixin {
  position: relative;
  float: left;
  margin-left: 16px;
  width: 20px;
  height: 100%;
  cursor: pointer;
  padding-top: 0px;
}

.header .weixin .iconfont {
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 80px;
}

.header .weixin div {
  position: absolute;
  right: 0;
  top: 60px;
  padding: 6px;
  background: #ffffff;
  display: none;
  z-index: 2;
  box-shadow: 0 0 8px 2px rgba(3, 3, 3, 0.15);
}

.header .weixin div img {
  width: 110px;
}

.header.mbHeader .main {
  padding: 0 20px;
  width: auto;
  min-width: 1200px;
}

.headerBot {
  margin-top: 80px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  color: #666666;
  line-height: 50px;
  background: #fafafa;
}

.headerBot .main {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerBot span {
  padding-right: 6px;
  font-size: 14px;
  color: #333333;
}

.headerBot .iconfont {
  font-size: 20px;
  color: #ff4229;
  vertical-align: middle;
}

.headerBot.mbHeaderBot .main {
  padding: 0 20px;
  width: auto;
  min-width: 1200px;
}

.headerBot .main>div {
  display: inline-block;
}

/*banner*/
.banner {
  width: 100%;
  height: 360px;
}

.banner .main {
  position: relative;
  font-size: 0;
  text-align: center;
}

.banner .main:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.banner .main>p {
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  line-height: 1.5;
  vertical-align: middle;
}

.banner form {
  position: absolute;
  left: 0;
  top: 305px;
  width: 100%;
  height: 110px;
  background: #ffffff;
  font-size: 14px;
  box-shadow: 0 0 10px 0 rgba(3, 3, 3, 0.2);
}

.banner form .fl {
  margin-left: 30px;
  width: 320px;
}

.banner form .fl:first-child {
  margin-left: 20px;
}

.banner form .fl>span {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  color: #333333;
  line-height: 45px;
  text-align: left;
}

.banner form .layui-input-block {
  margin-left: 0;
}

.banner form .layui-input {
  height: 40px;
  border-color: #e5e5e5;
  border-radius: 0;
  color: #666666;
  line-height: 38px;
}

.banner form .layui-edge {
  margin-top: -4px;
  width: 15px;
  height: 15px;
  border-width: 0px;
  background: url(../images/down.png) no-repeat center;
  background-size: 100%;
}

.banner form .layui-form-selected .layui-edge {
  margin-top: -9px;
}

.banner form .layui-form-select dl {
  text-align: left;
}

.banner form .fr {
  margin-top: 50px;
  width: 178px;
  height: 38px;
  border: 1px solid #ff4229;
  font-size: 16px;
  line-height: 38px;
}

.banner form>a {
  margin-right: 20px;
  color: #ff4229;
}

.banner form>button {
  margin-right: 10px;
  background: #ff4229;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1520px) {
  .banner form .fl {
    margin-left: 20px;
    width: 260px;
  }

  .banner form .fr {
    width: 150px;
  }
}

/*首页--建站指南*/
.sec_title {
  padding: 54px 0 15px;
  height: 70px;
  border-bottom: 1px solid #e5e5e5;
}

.sec_title .fl {
  max-width: 1270px;
}

.sec_title .fl h4 {
  font-size: 28px;
  color: #333333;
  line-height: 1.5;
}

.sec_title .fl p {
  margin-top: 8px;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}

.sec_title .fl p a {
  font-weight: bold;
  color: #ff4229;
}

.sec_title .fr {
  margin-top: 50px;
  height: 20px;
  line-height: 20px;
}

.sec_title .fr div {
  float: left;
  font-size: 14px;
  color: #666666;
  transition: all 0.16s;
}

.sec_title .fr div span {
  padding-right: 6px;
  color: #ff4229;
  font-size: 16px;
}

.sec_title .fr>span {
  padding-left: 16px;
  font-size: 10px;
  color: #5b5b5b;
  transition: all 0.16s;
}

.sec_title .fr:hover div,
.sec_title .fr:hover>span {
  color: #ff4229;
}

.guide {
  padding-top: 55px;
}

.guide .guide_cnt {
  margin-top: 40px;
}

.guide .guide_cnt:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.guide .guide_cnt .fl {
  width: 75%;
}

.guide .guide_cnt .fr {
  width: 25%;
  padding: 0 10px;
  height: 260px;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.guide .guide_cnt .fr:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.guide .guide_cnt .fr>div {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.guide .guide_cnt .fr>div div {
  margin-top: 10px;
  font-size: 20px;
  color: #333333;
  line-height: 1.5;
}

.guide .guide_cnt .fr img {
  width: 120px;
  margin: 0 auto;
}

.guide .guide_cnt .fr p {
  margin-top: 8px;
  font-size: 14px;
  color: #999999;
  line-height: 22px;
}

.guide .guide_cnt .fl a {
  float: left;
  padding: 0 10px;
  height: 130px;
  width: 360px;
  border: 1px solid #e5e5e5;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: all 0.2s;
}

.guide .guide_cnt .fl a div {
  padding-top: 34px;
  font-size: 20px;
  color: #333333;
  line-height: 1.5;
}

.guide .guide_cnt .fl a p {
  margin-top: 10px;
  font-size: 14px;
  color: #999999;
  line-height: 22px;
}

.guide .guide_cnt .fl a:hover {
  background: #ff4229;
}

.guide .guide_cnt .fl a:hover div,
.guide .guide_cnt .fl a:hover p {
  color: #ffffff;
}

@media screen and (max-width: 1520px) {
  .sec_title .fl {
    max-width: 1000px;
  }

  .guide .guide_cnt .fl a {
    width: 300px;
  }
}

/*首页--服务领域*/
.service {
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
}

.service .service_cnt {
  margin-top: 40px;
  webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.service .service_cnt:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.service .service_cnt .fl {
  width: 198px;
}

.service .service_cnt .fl li {
  height: 78px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
  font-size: 18px;
  color: #666666;
  text-align: center;
  line-height: 78px;
  cursor: pointer;
  transition: all 0.16s;
}

.service .service_cnt .fl li:hover {
  color: #ff4229;
}

.service .service_cnt .fl li.active {
  color: #ffffff;
  background: #ff4229;
}

.service .service_cnt .fl li.active:hover {
  color: #ffffff;
}

.service .service_cnt .fr {
  width: 1220px;
}

.service .service_cnt .fr>li {
  display: none;
}

.service .service_cnt .fr>li.active {
  display: block;
}

.service .service_cntitem {
  float: left;
  margin-left: 40px;
  width: 590px;
}

.service .service_cntitem:first-child {
  margin-left: 0;
}

.service .service_cntitem>div {
  border-bottom: 1px solid #e5e5e5;
}

.service .service_cntitemtop {
  padding-bottom: 14px;
}

.service .service_cntitemtop:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.service .service_itemImg {
  float: left;
  width: 300px;
  height: 180px;
  overflow: hidden;
}

.service .service_itemImg img {
  width: 100%;
  min-height: 100%;
  transition: all 0.2s;
}

.service .service_itemImg:hover img {
  transform: scale(1.06);
}

.service .service_itemR {
  float: right;
  width: 270px;
}

.service .service_itemR>p {
  margin-top: 18px;
  height: 72px;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.service .service_itemtit {
  display: block;
  margin-top: 16px;
  height: 24px;
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.16s;
}

.service .service_itemtit:hover {
  color: #ff4229;
}

.service .service_itembot {
  margin-top: 32px;
  display: inline-block;
  font-size: 14px;
  color: #999999;
  line-height: 22px;
}

.service .service_itembot .iconfont {
  padding-left: 8px;
  font-size: 6px;
  vertical-align: top;
  color: #999999;
}

.service .service_itembot:hover {
  color: #ff4229;
}

.service .service_itembot:hover .iconfont {
  color: #ff4229;
}

.service .service_cntitemcon {
  padding: 10px 0 22px;
}

.service .service_cntitemcon>p {
  margin-top: 18px;
  height: 48px;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.service .service_cntitemcon>div {
  margin-top: 20px;
  line-height: 20px;
  height: 20px;
}

.service .service_cntitemcon>div span {
  float: left;
  font-size: 14px;
  color: #ff4229;
}

.service .service_cntitemcon>div a {
  float: right;
  font-size: 14px;
  color: #999999;
  transition: all 0.16s;
}

.service .service_cntitemcon>div a:hover {
  color: #ff4229;
}

@media screen and (max-width: 1520px) {
  .service .service_cnt .fl {
    width: 178px;
  }

  .service .service_cnt .fl li {
    height: 71px;
    line-height: 71px;
    font-size: 17px;
  }

  .service .service_cnt .fr {
    width: 1000px;
  }

  .service .service_cntitem {
    margin-left: 20px;
    width: 490px;
  }

  .service .service_itemImg {
    width: 220px;
    height: 132px;
  }

  .service .service_itemR {
    width: 250px;
  }

  .service .service_itemR>p {
    margin-top: 8px;
  }

  .service .service_itemtit {
    margin-top: 0;
  }

  .service .service_itembot {
    margin-top: 10px;
  }

  .service .service_cntitemcon {
    padding-top: 26px;
  }
}

/*首页--服务优势*/
.seradvan {
  width: 100%;
  padding: 60px 0;
  background: #fafafa;
  overflow: hidden;
}

.seradvan .main:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.seradvan li {
  float: left;
  width: 25%;
  height: 80px;
  text-align: center;
  border-left: 1px solid #cccccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.seradvan li:first-child {
  border-left-width: 0px;
}

.seradvan li div {
  font-size: 20px;
  color: #333333;
  line-height: 48px;
}

.seradvan li div span {
  font-size: 36px;
}

.seradvan li p {
  margin-top: 5px;
  font-size: 16px;
  color: #666666;
  line-height: 24px;
}

/*首页--最新资讯*/
.news {
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
}

.news .news_cnt {
  margin-top: 40px;
}

.news .news_cnt:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.news .news_cnt .fl {
  width: 198px;
}

.news .news_cnt .fl li {
  height: 308px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
  text-align: center;
  font-size: 0;
  cursor: pointer;
  transition: all 0.16s;
}

.news .news_cnt .fl li:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.news .news_cnt .fl li>div {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.news .news_cnt .fl li>div div {
  margin-top: 5px;
  font-size: 20px;
  color: #666666;
  line-height: 30px;
}

.news .news_cnt .fl li .iconfont {
  font-size: 40px;
  color: #666666;
}

.news .news_cnt .fl li:hover .iconfont,
.news .news_cnt .fl li:hover>div div {
  color: #ff4229;
}

.news .news_cnt .fl li.active {
  background: #ff4229;
}

.news .news_cnt .fl li.active .iconfont,
.news .news_cnt .fl li.active>div div {
  color: #ffffff;
}

.news .news_cnt .fl li.active:hover .iconfont,
.news .news_cnt .fl li.active:hover>div div {
  color: #ffffff;
}

.news .news_cnt .fr {
  position: relative;
  width: 1220px;
  height: 620px;
}

.news .news_cnt .fr>div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.news .news_cnt .fr>div.active {
  visibility: visible;
  z-index: 2;
}

.news .min_pic {
  height: 40px;
}

.news .min_pic .num {
  position: relative;
  float: left;
  width: 1100px;
  height: 100%;
  overflow: hidden;
}

.news .min_pic .num>ul {
  position: absolute;
  height: 100%;
}

.news .min_pic .num li {
  margin-right: 20px;
}

.news .min_pic .num li div {
  width: 118px;
  height: 38px;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  color: #666666;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  transition: all 0.2s;
}

.news .min_pic .num li.on div {
  border: 1px solid #ff4229;
  background: #ff4229;
  color: #ffffff;
}

.news .news_cntbtn {
  float: right;
  height: 100%;
  font-size: 0;
}

.news .news_cntbtn span {
  display: inline-block;
  width: 48px;
  height: 38px;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  color: #999999;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}

.news .news_cntbtn span:first-child {
  border-right-width: 0px;
}

.news .news_cntbtn span:hover {
  background: #ff4229;
  color: #ffffff;
}

.news .ban2 {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 560px;
  overflow: hidden;
}

.news .ban2>ul {
  position: absolute;
}

.news .ban2>ul>li {
  width: 1220px;
}

.news .service_cntitem {
  float: left;
  margin-left: 40px;
  width: 590px;
}

.news .service_cntitem:first-child {
  margin-left: 0;
}

.news .service_cntitem>div {
  border-bottom: 1px solid #e5e5e5;
}

.news .service_cntitemtop {
  padding-bottom: 14px;
}

.news .service_cntitemtop:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.news .service_itemImg {
  float: left;
  width: 300px;
  height: 180px;
  overflow: hidden;
}

.news .service_itemImg img {
  width: 100%;
  min-height: 100%;
  transition: all 0.2s;
}

.news .service_itemImg:hover img {
  transform: scale(1.06);
}

.news .service_itemR {
  float: right;
  width: 270px;
}

.news .service_itemR>p {
  margin-top: 18px;
  height: 72px;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news .service_itemtit {
  display: block;
  margin-top: 16px;
  height: 24px;
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.16s;
}

.news .service_itemtit:hover {
  color: #ff4229;
}

.news .service_itembot {
  margin-top: 32px;
  display: inline-block;
  font-size: 14px;
  color: #999999;
  line-height: 22px;
}

.news .service_itembot .iconfont {
  padding-left: 8px;
  font-size: 6px;
  vertical-align: top;
  color: #999999;
}

.news .service_itembot:hover {
  color: #ff4229;
}

.news .service_itembot:hover .iconfont {
  color: #ff4229;
}

.news .service_cntitemcon {
  padding: 10px 0 22px;
}

.news .service_cntitemcon>p {
  margin-top: 18px;
  height: 48px;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news .service_cntitemcon>div {
  margin-top: 20px;
  line-height: 20px;
  height: 20px;
}

.news .service_cntitemcon>div span {
  float: left;
  font-size: 14px;
  color: #ff4229;
}

.news .service_cntitemcon>div a {
  float: right;
  font-size: 14px;
  color: #999999;
  transition: all 0.16s;
}

.news .service_cntitemcon>div a:hover {
  color: #ff4229;
}

@media screen and (max-width: 1520px) {
  .news .news_cnt .fl {
    width: 178px;
  }

  .news .news_cnt .fl li {
    height: 282px;
  }

  .news .news_cnt .fr {
    width: 1000px;
    height: 570px;
  }

  .news .min_pic .num {
    width: 820px;
  }

  .news .ban2 {
    height: 510px;
  }

  .news .service_cntitem {
    margin-left: 20px;
    width: 490px;
  }

  .news .service_itemImg {
    width: 220px;
    height: 132px;
  }

  .news .service_itemR {
    width: 250px;
  }

  .news .service_itemR>p {
    margin-top: 8px;
  }

  .news .service_itemtit {
    margin-top: 0;
  }

  .news .service_itembot {
    margin-top: 10px;
  }

  .news .service_cntitemcon {
    padding-top: 26px;
  }
}

/*首页--我们的优势*/
.advantage {
  width: 100%;
  height: 856px;
  background: url(../images/m-back1.jpg) no-repeat center;
  background-size: cover;
}

.advantage .advantage_cnt {
  margin-left: -20px;
  padding-top: 20px;
}

.advantage .advantage_cnt:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.advantage .advantage_cnt li {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  width: 272px;
  height: 298px;
  background: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.advantage .advantage_cnt li div {
  padding-top: 40px;
  margin: 0 auto;
  width: 90px;
  height: 90px;
}

.advantage .advantage_cnt li div img {
  width: 100%;
  height: 100%;
}

.advantage .advantage_cnt li h5 {
  margin-top: 34px;
  padding: 0 40px;
  font-size: 24px;
  color: #333333;
  line-height: 1.5;
  font-weight: normal;
}

.advantage .advantage_cnt li p {
  margin-top: 16px;
  padding: 0 40px;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
}

.advantage .advantage_cnt li:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.16);
}

.advantage .advantage_cnt li:hover div img {
  transform: rotateY(360deg);
  transition: all 0.8s;
}

@media screen and (max-width: 1520px) {
  .advantage {
    height: 820px;
  }

  .advantage .advantage_cnt {
    margin-left: -15px;
  }

  .advantage .advantage_cnt li {
    margin-top: 15px;
    margin-left: 15px;
    width: 228px;
    height: 280px;
  }

  .advantage .advantage_cnt li div {
    padding-top: 32px;
    width: 86px;
    height: 86px;
  }

  .advantage .advantage_cnt li h5 {
    padding: 0 20px;
    font-size: 22px;
  }

  .advantage .advantage_cnt li p {
    padding: 0 20px;
  }
}

/*首页--热搜关键词*/
.hot_search {
  padding-bottom: 50px;
  background: #ffffff;
  width: 100%;
  overflow: hidden;
}

.hot_search .sec_title .iconfont {
  display: inline-block;
  padding-right: 0;
  margin-right: 6px;
  transition: all 0.6s;
}

.hot_search .hot_searchcnt {
  margin-top: 30px;
}

.hot_search .hot_searchcnt>div {
  display: none;
  font-size: 0;
}

.hot_search .hot_searchcnt>div a {
  display: inline-block;
  padding: 5px 0px;
  padding-right: 20px;
  font-size: 14px;
  color: #666666;
  line-height: 22px;
  transition: all 0.16s;
}

.hot_search .hot_searchcnt>div a:hover {
  color: #ff4229;
}

/*底部*/
/* .footer {
  padding: 40px 0 32px;
  background: #474747;
} */

.footer .main:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.footer .fl {
  max-width: 83%;
}

.footer .footnav {
  padding-bottom: 20px;
  height: 14px;
  font-size: 14px;
  color: #cccccc;
  line-height: 14px;
}

.footer .footnav span {
  float: left;
}

.footer .footnav h1 {
  float: left;
  font-size: 18px;
}

.footer .footnav div {
  float: left;
  margin-left: 36px;
  font-size: 0;
}

.footer .footnav div a {
  position: relative;
  padding-left: 31px;
  padding-right: 30px;
  font-size: 14px;
  color: #cccccc;
  transition: all 0.16s;
}

.footer .footnav div a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  height: 12px;
  background: #cccccc;
}

.footer .footnav div a:hover {
  color: #ffffff;
}

.footer .footitem {
  padding: 5px 0;
  font-size: 14px;
  color: #cccccc;
  line-height: 24px;
}

.footer .footitem span {
  font-size: 36px;
  line-height: 36px;
  color: #ef3e4a;
  color: #ff4229;
  font-weight: bold;
}

.footer .footitem a {
  padding: 0 2px;
  color: #cccccc;
  transition: all 0.16s;
}

.footer .footitem a:hover {
  color: #ffffff;
}

.footer .footitem.link a:first-child {
  padding-left: 6px;
}

.footer .fr {
  width: 124px;
  text-align: center;
}

.footer .fr p {
  font-size: 14px;
  color: #cccccc;
  line-height: 24px;
}

.footer .fr img {
  margin-top: 12px;
  width: 100%;
}

/*新闻列表页*/
.breadcrumb {
  height: 52px;
  background: #ffffff;
  font-size: 14px;
  color: #666666;
  line-height: 52px;
}

.breadcrumb .main {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 1200px;
}

.breadcrumb span {
  padding: 0 10px;
}

.breadcrumb a {
  color: #666666;
  transition: all 0.16s;
}

.breadcrumb a:hover {
  color: #ff4229;
}

.mcontent {
  padding-bottom: 60px;
  width: 100%;
  background: #ffffff;
}

.mcontent .main {
  width: 1200px;
}

.newsCate {
  background: #fafafa;
}

.newsCate li {
  position: relative;
  padding: 12px 0;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #666666;
  line-height: 36px;
}

.newsCate li span {
  position: absolute;
  left: 18px;
  top: 12px;
}

.newsCate li div {
  padding-left: 118px;
}

.newsCate li div a {
  display: inline-block;
  color: #666666;
  margin-right: 40px;
  transition: all 0.16s;
}

.newsCate li div a:hover,
.newsCate li div a.active {
  color: #ff4229;
}

.newsList {
  margin-top: 10px;
  margin-left: -40px;
}

.newsList:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.newsList .service_cntitemcon {
  float: left;
  margin-left: 40px;
  padding: 10px 0 22px;
  width: 580px;
  border-bottom: 1px solid #e5e5e5;
}

.newsList .service_cntitemcon>p {
  margin-top: 18px;
  height: 48px;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.newsList .service_cntitemcon>div {
  margin-top: 20px;
  line-height: 20px;
  height: 20px;
}

.newsList .service_cntitemcon>div span {
  float: left;
  font-size: 14px;
  color: #ff4229;
}

.newsList .service_cntitemcon>div a {
  float: right;
  font-size: 14px;
  color: #999999;
  transition: all 0.16s;
}

.newsList .service_cntitemcon>div a:hover {
  color: #ff4229;
}

.newsList .service_itemtit {
  display: block;
  margin-top: 16px;
  height: 24px;
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.16s;
}

.newsList .service_itemtit:hover {
  color: #ff4229;
}

.pagination {
  margin-top: 40px;
  font-size: 0;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin: 0 6px;
  height: 40px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s;
}

.pagination li a,
.pagination li span {
  padding: 0 16px;
  font-size: 15px;
  color: #333333;
  line-height: 40px;
}

.pagination li.active,
.pagination li:hover {
  background: #ff4229;
}

.pagination li.active a,
.pagination li.active span,
.pagination li:hover a,
.pagination li:hover span {
  color: #ffffff;
}

.pagination li.disabled span {
  color: #cccccc;
}

.pagination li.disabled:hover {
  background: transparent;
}

.pagination li.disabled:hover span {
  color: #cccccc;
}

/*新闻详情页*/
.newsDeTop {
  position: relative;
  padding: 14px 0;
  border-bottom: 1px solid #cccccc;
}

.newsDeTop>div {
  float: none;
}

.newsDeTop .fl {
  padding-right: 200px;
  font-size: 20px;
  color: #333333;
  line-height: 1.5;
}

.newsDeTop .fr {
  position: absolute;
  bottom: 14px;
  right: 0;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
}

.newsDeCon {
  padding: 16px 0;
}

.newsDeCon p {
  padding: 15px 0;
  font-size: 16px;
  color: #666666;
  line-height: 30px;
}

.newsDeCon p img {
  display: inline-block;
  max-width: 100%;
}

.newsDeBot {
  position: relative;
  padding-top: 36px;
  height: 24px;
  border-top: 1px solid #cccccc;
}

.newsDeBot>div {
  max-width: 240px;
  height: 100%;
  font-size: 16px;
  color: #666666;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.newsDeBot>a {
  position: absolute;
  top: 36px;
  left: 50%;
  margin-left: -60px;
  width: 120px;
  height: 24px;
  line-height: 1.5;
}

.newsDeBot a {
  font-size: 16px;
  color: #666666;
  transition: all 0.16s;
}

.newsDeBot a:hover {
  color: #ff4229;
}

.tpl-page-container {
  min-width: 1200px;
  overflow: hidden;
}


/*定制页面*/
.dingzhiBtn {
  padding-top: 30px;
  font-size: 0;
}

.dingzhiBtn a {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0 30px;
  height: 46px;
  background: #fafafa;
  border-radius: 3px;
  font-size: 16px;
  color: #666666;
  line-height: 46px;
  transition: all 0.16s;
}

.dingzhiBtn a.active,
.dingzhiBtn a:hover {
  background: #ff4229;
  color: #ffffff;
}

.dingzhi_tit {
  margin-top: 32px;
  text-align: center;
}

.dingzhi_tit h5 {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  line-height: 40px;
}

.dingzhi_tit p {
  margin-top: 7px;
  font-size: 16px;
  color: #999999;
  line-height: 1.5;
}

.dingzhi_titbot {
  margin: 36px 0 40px;
  padding-left: 10px;
  border-left: 4px solid #ff4229;
}

.dingzhi_titbot h5 {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1;
}

.dingzhi_titbot p {
  margin-top: 16px;
  font-size: 16px;
  color: #666666;
  line-height: 18px;
}

.dingzhi_table {
  margin-top: 32px;
  opacity: 0;
}

.dingzhi_table .dingzhi_tabletop {
  display: table;
  width: 100%;
  height: 96px;
}

.dingzhi_table .dingzhi_tabletop>div {
  display: table-cell;
  height: 100%;
  border-left: 1px solid #cccccc;
  background: #ff4229;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
}

.dingzhi_table .dingzhi_tabletop>div:first-child {
  border-left: 1px solid #ff4229;
}

.dingzhi_table .dingzhi_tabletop>div p {
  font-size: 16px;
  line-height: 1.5;
}

.dingzhi_table .dingzhi_tabletop>div p+p {
  margin-top: 6px;
}

.dingzhi_table .dingzhi_tabletop>div span {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
}

.dingzhi_table .dingzhi_tabletop>div.last {
  border-right: 1px solid #ff4229;
}

.dingzhi_table .dingzhi_tabletop.top {
  position: fixed;
  left: 50%;
  top: 80px;
  margin-left: -600px;
  width: 1200px;
  z-index: 2;
}

.dingzhi_tableItem {
  position: relative;
  width: 100%;
}

.dingzhi_tableItem .last {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 1px;
  width: 60px;
}

.dingzhi_tableItem .last td {
  padding: 0 20px;
  border-width: 0px;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.3;
  background: #252e3a !important;
}

.dingzhi_tableItem .last td:first-child {
  text-align: center;
  word-break: break-all;
}

.dingzhi_tableItem.seo {
  table-layout: fixed;
}

.dingzhi_tableItem.seo td {
  width: 239px !important;
}

.dingzhi_tableItem.seo td+td {
  width: auto !important;
  text-align: left;
  padding: 0 40px;
}

.dingzhi_tableItem td {
  height: 60px;
  border: 1px solid #cccccc;
  text-align: center;
  font-size: 16px;
  color: #000033;
  line-height: 1.5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.dingzhi_tableItem td .iconfont {
  font-size: 22px;
  color: #13c960;
}

.dingzhi_tableItem td .iconfont.wrong {
  color: #d81e06;
}

.dingzhi_tableItem td.keywords {
  color: #ff4229;
}

.dingzhi_tableItem tr:first-child td {
  border-top-width: 0px;
}

.dingzhi_tableItem tr td:first-child {
  text-align: left;
}

.dingzhi_tableItem tr td:first-child span {
  padding-left: 100px;
  display: inline-block;
}

.dingzhi_tableItem tr.keywords td {
  font-weight: bold;
  color: #ff4229;
}

/*侧导航*/
.tx-box {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 999;
}

.tx-box li {
  clear: both;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-bottom: 2px;
}

.tx-box li a {
  position: relative;
  display: block;
  background: #ff4229;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.tx-box li a h3 {
  font-size: 12px;
  color: #ffffff;
  line-height: 2;
}

.tx-box li a.shangqiao {
  background: #ff4229 url(../images/xfzx2.gif) no-repeat center center;
  background-size: 100% 100%;
}

.tx-box li a.shangqiao>h3 {
  padding-top: 34px;
}

.tx-box li a:hover .tx-box-main {
  right: 102%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.tx-box li i {
  font-size: 24px;
  color: #fff;
  display: block;
  padding-top: 8px;
}

.tx-box .tx-box-main {
  position: absolute;
  right: -500%;
  z-index: -1;
  top: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.4s;
}

.tx-box .tx-box-tel {
  width: 170px;
  padding: 12px;
  background: #1b8eee;
  color: #fff;
  text-align: left;
  font-size: 12px;
  line-height: 42px;
}

.tx-box .tx-box-tel p {
  padding: 3px 0;
  font-size: 18px;
}

.tx-box .tx-box-tel .tx-box-wx {
  padding: 12px;
  background: #1b8eee;
  width: 154px;
}

.tx-box .tx-box-wx {
  padding: 12px;
  background: #ff4229;
  width: 124px;
}

.tx-box .tx-box-wx p {
  font-size: 14px;
  color: #fff;
}

.baojiamask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D000000', endColorstr='#4D000000');
}

.baojiamask .bjbox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 20px;
  width: 500px;
  height: 360px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  animation-duration: 0.3s;
  display: none;
}

.baojiamask .bjbox>h5 {
  margin-top: 40px;
  font-size: 20px;
  color: #ff4229;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}

.baojiamask .close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  font-size: 36px;
  color: #333333;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s;
}

.baojiamask .close_btn:hover {
  color: #ff4229;
  transform: rotate(90deg);
}

.baojiamask .fl {
  margin-top: 30px;
  width: 150px;
  text-align: center;
}

.baojiamask .fl img {
  width: 100%;
}

.baojiamask .fl p {
  margin-top: 8px;
  font-size: 15px;
  color: #333333;
}

.baojiamask .fl div {
  font-size: 15px;
  color: #333333;
  line-height: 2;
}

.baojiamask .fl div span {
  color: #ff4229;
  font-weight: bold;
  font-size: 16px;
}

.baojiamask form {
  margin-top: 30px;
  float: right;
  width: 340px;
}

.baojiamask form>div:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.baojiamask form input {
  margin-bottom: 12px;
  padding: 0 10px;
  width: 312px;
  height: 36px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #666666;
  line-height: 36px;
}

.baojiamask form textarea {
  float: left;
  padding: 6px 10px;
  width: 245px;
  height: 90px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #666666;
  line-height: 1.6;
}

.baojiamask form button {
  float: right;
  width: 52px;
  height: 102px;
  background: #ff4229;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  margin-right: 8px;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.2s;
}

.baojiamask form button:hover {
  background: #d63621;
}

#newBridge .icon-right-center {
  top: 75% !important;
}